.item {
    display: flex;
    justify-content: space-between;
    
}
.item_image {
    width: 50px;
    height: 50px;
    margin-bottom: 20px;
}
.qty {
    text-align: end;
}

.item .price {
   text-align: end;
}
.subtotal {
    text-align: end;
}
.item span{
    width: 200px;
}