.home {
    height: 40vh;
}
.home_wrapper {
    display: flex;
    gap:2rem;
    padding-top: 150px;
}
.image {
    display: grid;
    place-items: center;
   
}
.image img {
  width: 80%;
  height: 80%;
  border-radius: 10px;
}

.scale {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
}

.scale span {
    font-size: 25px;
    margin: 0 5px;
}

.btn {
    font-size: 20px;
}
.add_to_cart {
    padding: 5px 9px;
    font-weight: bold;
    background-color: crimson;
    color: white;
    border: none;
    border-radius: 2px;
}